body{
    font-family: 'Noto Sans', sans-serif!important;
}

.item-post{
    /*box-shadow: 2px 4px 2px grey;*/
    border: 1px grey solid;
    transition: all 0.3s ease;
}

.item-content{
    padding: 10px;
}

.item-text {
    color: #272727;
}

.item-title{

}

.fancy-text{
    font-family: 'Luckiest Guy', cursive;
}

.magazine-item:hover{
    box-shadow: 10px 10px 10px grey;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    transition: all 0.3s ease;
}


.slider-container .main-label{
    color: #FFF;
    font-size: 62px;
    line-height: 120px;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Luckiest Guy', cursive;
}

.shadow-text{
    text-shadow: 2px 2px 4px black!important;
}

.btn-xxl{
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-lg{
    font-size: 20px!important;
}



.btn-primary:visited{
    background-color: #ffc600;
}

.btn-padding{
    margin: 5px;
}

.price{
    font-size: 30px;
    font-weight: 100;
}

.slider-text-white{
    /*text-shadow: 2px 2px 4px white !important;*/
}

.slider-text-black{
    /*text-shadow: 2px 2px 4px black !important;*/
}

.text-white{
    color: white!important;
}

.text-info-slider{
    background-color: black;
    padding: 5px;
    color: #ffffff!important;
}